html, body {
  height: 100%;
}

.content {
  margin: 0 0 20px 0;
  border: solid 1px #999;
  overflow-y: scroll;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.fill {
  min-height: 100%;
  height: 100%;
  padding: 0;
  margin: 0 5px 0 0;
}

.main {
  min-height: 100%;
  height: 100%;
}

h1.title {
  background: #E0E0E0;
  font-size: 18px;
  padding: 10px;
  margin: 0;
}

.info {
  width: 100%;
  min-width: 650px;
  height: 100%;
  background-color: rgba(66, 66, 66, 0.3);
  position: absolute;
  color: #fff;
  padding-top: 300px;
  input {
    margin: 10px 0;
  }
}

.fheight {
  height: 84%;
}

.center {
  text-align: center;
  vertical-align: middle;
  opacity: 1;
}

.error {
  padding: 10px 0;
  color: red;
}

.row {
  width: 100%;
  margin: 3px 3px 10px 3px;
  position: relative;
  .message {
    padding: 6px;
    background: #A2E0F5;
    color: #1F1F1F;
    text-align: justify;
    border-radius: 3px;
    margin-right: 55px;
    float: right;
    max-width: 50%;
    word-wrap: break-word;
    position: relative;
    font-size: 90%;
    &:before {
      position: absolute;
      display: inline-block;
      border-top: 7px solid transparent;
      border-left: 6px solid #A2E0F5;
      border-bottom: 7px solid transparent;
      right: -5px;
      top: 10px;
      content: '';
    }
  }
  .date {
    &:before {
      clear: both;
    }
    margin: 5px 55px 5px 5px;
    color: #B3B3B3;
    font-size: 12px;
    text-align: right;
  }
  .profile {
    border-radius: 3px;
    width: 52px;
    height: 52px;
    position: absolute;
    top: 2px;
    right: -4px;
    background: url(../images/profile.jpg) no-repeat;
    background-size: 50px;
    .img-rounded {
      width: 50px;
    }
  }
}

.r-message {
  overflow: hidden;
}

.row_other {
  width: 100%;
  margin: 3px 3px 10px 0px;
  position: relative;
  .date {
    margin: 5px 5px 5px 60px;
    color: #B3B3B3;
    font-size: 12px;
    text-align: left;
  }
  .message {
    padding: 6px;
    border-radius: 3px;
    background: #EBEBEB;
    color: #1F1F1F;
    text-align: justify;
    margin-right: 5px;
    margin-left: 60px;
    position: relative;
    float: left;
    max-width: 50%;
    word-wrap: break-word;
    position: relative;
    font-size: 90%;
    &:before {
      position: absolute;
      display: inline-block;
      border-top: 7px solid transparent;
      border-bottom: 7px solid transparent;
      border-right: 6px solid #EBEBEB;
      left: -5px;
      top: 10px;
      content: '';
    }
  }
  .profile {
    left: 0;
    border-radius: 3px;
    width: 52px;
    height: 52px;
    position: absolute;
    top: 2px;
    background: url(../images/profile.jpg) no-repeat;
    background-size: 50px;
  }
  .username {
    text-align: left;
    padding-left: 60px;
  }
  .profile .img-rounded {
    width: 50px;
  }
}

.username {
  text-align: right;
  color: #009C12;
  font-weight: bold;
  padding-right: 55px;
  display: block;
  margin-bottom: 2px;
  font-size: 95%;
}

#message, .full {
  width: 100%;
}

#user {
  border: 1px solid #BDBDBD;
  border-radius: 5px;
  height: 95%;
  margin: 5px 0;
  padding: 0;
  overflow: hidden;
}

#user-list {
  overflow: auto;
  height: 92%;
  padding: 0;
  margin: 0;
}

.row-user {
  padding: 5px;
  color: #000;
  background: #AED4E8;
  max-height: 45px;
  cursor: pointer;
  border-bottom: 1px solid #fff;
  &:hover, &.active {
    background: #0E7BB5;
    color: #fff;
  }
  .img-circle {
    max-height: 36px;
    margin-right: 10px;
  }
}

.heading {
  padding: 10px;
  background: #5E5E5E;
  color: #fff;
}

.tab-content {
  height: 90%;
  margin: 5px 0;
}

.chat-content {
  height: 100%;
}

#main_room {
  height: 45px;
  padding: 12px;
  &:hover, &.active {
    background: #0EB52D;
    color: #fff;
  }
}