doctype
html
    head
        title= "Express Web Chat"
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css')
        link(rel='stylesheet', href='/css/style.css')
        link(rel='stylesheet', href='/css/bootstrap-dialog.min.css')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
        script(src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.js")
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js')
        script(src='/js/bootstrap-dialog.min.js')
        script(src='/js/chat.js')
        script(src='/js/functions.js')
        script(src='/socket.io/socket.io.js')
    body
        block content